.allInformations {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 200px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact i {
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.text-contact {
    font-size: 1rem;
}

.social {
    display: flex;
    gap: 2rem;
}

.social-icon {
    height: 18px;
    width: 18px;
    padding: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #FFF;
    color: white;
    font-size: 1.7rem;
    transition: color .15s;
}

.social-icon:hover {
    background-color: black;
    border-color: white;

}


@media (max-width:960px) {

    .contact {
        gap: 0.5rem;
        font-size: 2rem;

    }

    .social {
        display: flex;
        gap: 0.8rem;
    }

    .social-icon {
        height: 18px;
        width: 18px;
        padding: 1.3rem;
        font-size: 1.3rem;
    }

    .contact-info {
        gap: 0.7rem;
    }

    .text-contact {
        font-size: 1.2rem;
    }

    .fa-solid {
        font-size: 1.2rem;
    }

    .copyrigth {
        font-size: 1.1rem;
    }


}

@media screen and (max-width:640px) {

    .allInformations {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 70vh;
        gap: 70px;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .social {
        display: flex;
        gap: 0.8rem;
        flex-direction: row;

    }

    .social-icon {
        height: 18px;
        width: 18px;
        font-size: 1.3rem;
    }

    .contact-info {
        gap: 0.7rem;
    }

    .text-contact {
        font-size: 1.1rem;
    }

    .fa-solid {
        font-size: 1.2rem;
    }

    .copyrigth {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.1rem;
    }


}