.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
}

.logo__image {
    display: flex;
    margin-top: 14px;
    margin-left: 96px;
    margin-left: 96px; 
    margin-bottom: 15px;
}

.logo__title {
    display: flex;
    color: white;
    line-height: 28.13px;
    font-weight: 700;
    font-size: 32px;
    font-weight: bold;
    width: 120px;
}

@media (max-width:960px){

    .logo{
        width: 80%;
       
    }
    .logo__image{
        width: 55px;
        height: 65px;
        margin-left: 46px; 
        margin-bottom: 10px;
    }
    .logo__title{
        font-size: 18px;
        width: 50px;
        font-family: 'Roboto', sans-serif;
    }
}

@media (max-width: 640px){

    .logo{
        width: 87%;
       
    }
}
